.home {
    flex: 6;
    top: 70px;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(221, 221, 221); */
    align-items: center;
    padding-top: 80px;
}

.home-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-container .filter {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: #516E53;
    justify-content: center;
    display: flex;
}


.filter h4 {
    color: #D9D9D9;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1px;
}

.home-container .post {
    height: 200px;
    width: 600px;
    border-radius: 10px;
    border: 1px solid #9E9E9E;
    background: #D9D9D9;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);

}

.post img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding: 15px;
}