.rightbar {
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    border-right: 1px solid #3b55343b;
    padding-top: 30px;
    border-left: 1px solid #3b55343b;
}

.rightbar::-webkit-scrollbar{
    display: none;
}

.note-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.note-box .box {
    width: 200px;
    height: 100px;
    background-color: #516E53;
    border-radius: 10px;
}